<%- include('header') %>
<!-- start: content -->
<%- include('errorbox') %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Edit personal information</h2>
        </div>
        <div class="col-md-push-3 col-md-6 col-xs-12">

            <form method="POST">
                <div class="form-group">
                    <label for="name">User name</label>
                    <input type="text" class="form-control" id="name" placeholder="Picture name" name="name"
                           value="<%= (typeof user !== 'undefined') ? user.name : '' %>">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="<%= (typeof user !== 'undefined') ? user.email : '' %>">
                </div>
                <div class="form-group">
                    <label for="description">Password</label>
                    <input type="password" class="form-control" id="password" name="password"></input>
                </div>
                <div class="form-group">
                    <label for="description">Confirm password</label>
                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"></input>
                </div>

                <input type="submit" class="btn btn-primary" name="submit" value="Save information"/>

                <a href="/main" class="btn btn-default">Cancel</a>
            </form>

        </div>
    </div>
</div>

<!-- end: content -->
<%- include('footer') %>